BASE_URL=https://app.centre.my
REST_PATH=${BASE_URL}/wp-json/wp/v2/
REST_ACF=${BASE_URL}/wp-json/acf/v3/

GRAPHQL_URL=${BASE_URL}/graphql
AUTH_REFRESH_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczpcL1wvZGV2LmNlbnRyZS5teSIsImlhdCI6MTYwMjg2MzQ4MywibmJmIjoxNjAyODYzNDgzLCJleHAiOjE2MzQzOTk0ODMsImRhdGEiOnsidXNlciI6eyJpZCI6IjEiLCJ1c2VyX3NlY3JldCI6ImdyYXBocWxfand0XzVmODljMTdiMDdiMDUifX19.uUgXSwQiJCGRiZGw8mIgjZbXm30uHe5nLyLjno1uc_Q
WORDPRESS_PREVIEW_SECRET=Y7iUI+jc`QR*T8==l0tyYb$*1Vw_| +nk5[yha3N9.~$2a0cj0S:~:F&U-o3kh.d

# mail config
mailHost = "mail.centre.my"
mailSmtpPort = 465
mailCentreEmail = "contact@centre.my"
mailCentreEPass = "H-nS%}1xIU7j"
mailCentreESubject = "CENTRE CONTACT FORM"
mailCentreERadd = "contact@centre.my"

JWT_TOKEN=${BASE_URL}/wp-json/jwt-auth/v1/token

PREVIEW_PASS=jangantengok
# jwt
JWT_USER=bukanadmin
JWT_PWD=<bWmL+;m5&]w6gCX

