html {
  scroll-behavior: smooth;
  hyphens: none;
}

@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 970px;
  }
}

.ui.popup.research-pillars {
  padding: 0;
}

.ui.bottom.left.popup:before {
  display: none;
}

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* padding-bottom: 80px; */
}

hr {
  width: 1200px;
  margin: 50px auto;
  border-style: solid;
  border-color: rgb(196, 190, 190);
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
}

.content p {
  font-size: 20px;
  line-height: 28px;
}

.content img {
  width: 100%;
  height: auto;
}

/* h2 { */
/* font-family: "Catamaran", sans-serif !important;
  font-size: 40px !important;
  font-weight: 800 !important;
  margin: 20px 0 0;
  margin-bottom: 15px;
} */

h3 {
  /* font-family: 'Catamaran', sans-serif !important; */
  font-size: 30px !important;
  font-weight: 800 !important;
  margin: 20px 0 0;
  margin-bottom: 15px;
}

.content-body h4 {
  /* font-family: 'Catamaran', sans-serif; */
  font-size: 25px !important;
  font-weight: 800;
  margin: 20px 0 0;
  margin-bottom: 15px;
}

.ui.visible.content,
.ui.hidden.content {
  width: 100%;
}

.content blockquote {
  position: relative;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  margin: 60px 0;
}

.content blockquote p {
  font-family: "Poly", serif;
  font-style: italic;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 10px;
}
.content blockquote cite {
  font-size: 15px;
  text-align: center;
}

.content blockquote::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 0.6rem;
  background: #cc7510;
  bottom: 100%;
  left: 40%;
}

.content blockquote::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 0.6rem;
  background: #cc7510;
  top: 100%;
  left: 40%;
}

figure {
  margin: 0 0 30px !important;
}

iframe {
  width: 100% !important;
}

figcaption {
  font-family: "Poly", serif;
  color: #5f5f5f;
  font-size: 16px;
  line-height: 16px;
  font-style: italic;
}
/* 
a:not(.navbar-link, .read-more) {
  color: #ac7a3d !important;
  text-decoration: none;
} */

/* a:visited {
  color: #75634d;
} */

a:hover {
  color: #c98735;
}

/* ul > li::before,
ul > li > ul > li::before {
  content: "•";
  color: #bf8844;
  font-weight: bold;
  display: inline-block;
  width: 1.5em;
  margin-left: -1.5em;
}

ul {
  padding-inline-start: 0;
  list-style: none;
  font-size: 20px;
  line-height: 28px;
} */

/* ul > li {
  margin: 1.5em;
} */

ol {
  padding-inline-start: 0;
  font-size: 20px;
  line-height: 28px;
}

ol > li {
  padding-left: 1em;
  margin: 1.5em 1em;
}

ul > li > ul > li,
ol > li > ol > li {
  padding-left: 1em;
}

ul > li > ul {
  list-style: none;
  padding-left: 1em;
}

ul > li > ul > li {
  margin: 1.5em;
  padding-inline-start: 100;
}

.sidebar-content {
  font-family: "Catamaran", sans-serif;
  font-size: 24px;
  line-height: 29px;
}

.sidebar-content h1,
.sidebar-content h2,
.sidebar-content h3,
.sidebar-content h4,
.sidebar-content h5,
.sidebar-content h6 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 800;
}
.content > p.tc-mobile-sidebar {
  display: none;
}

.tc-notes {
  font-family: "Catamaran", sans-serif;
  font-size: 24px;
  line-height: 29px;
  display: block;
  width: 100%;
  margin: 40px auto;
  background: #f4f2ed;
  padding: 30px;
  position: relative;
}

.tc-notes::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.6rem;
  background: #cc7510;
  bottom: 100%;
  left: 0;
  margin: 0px 0px 5px;
}

.content > p.tc-questions {
  background: #f4f2ed;
  padding: 30px;
}

.content > p.tc-questions strong {
  font-family: serif;
}

address {
  margin: 20px 0;
}

.team-details > .bio > p {
  font-family: "Poly", serif;
  font-size: 20px;
  line-height: 28px;
}

.centreWatch .ui.embed {
  position: static !important;
}

.centreWatch .ui.vertical.right.tabular.menu {
  border-left: none !important;
}

.centreWatch .ui.vertical.right.tabular.menu .item {
  font-family: "Poly", serif;
  padding-left: 0 !important;
  border-radius: 0 !important;
  border-bottom: 1px solid rgb(196, 190, 190) !important;
  font-size: 20px !important;
  line-height: 28px !important;
}

.centreWatch .ui.vertical.right.tabular.menu .item:first-child {
  padding-top: 0;
}

.centreWatch .ui.vertical.right.tabular.menu .item:first-child,
.centreWatch .ui.vertical.right.tabular.menu .active.item:first-child {
  border-top: 0 !important;
}

.centreWatch .ui.vertical.right.tabular.menu .active.item {
  border: none !important;
  color: #ac7a3d !important;
  border-bottom: 1px solid rgb(196, 190, 190) !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}

.centreWatch > .ui.grid > .stretched.column:not(.row) {
  border-style: hidden !important;
}

.centreWatch .ui.bottom.attached.segment.active.tab {
  border: 0 !important;
}

.centreWatch > .ui.grid {
  justify-content: space-between;
}

.centreWatch > .ui.grid > [class*="five wide"].column {
  width: 30% !important;
}

.ui.embed.singleVideo {
  position: static !important;
}

@media all and (min-width: 767px) and (max-width: 1280px) {
  .container {
    width: 90%;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .container,
  .container-fluid {
    width: 100%;
  }

  hr {
    width: 90%;
  }

  .content > p.tc-mobile-sidebar {
    display: none;
  }

  ul {
    padding-inline-start: 20px;
  }

  .team-details > .bio {
    text-align: justify;
  }

  .tc-notes > img {
    width: 100% !important;
    margin-bottom: 10px;
  }

  .content > p.tc-questions > img {
    width: 100% !important;
    margin-bottom: 10px;
  }

  .centreWatch {
    width: 90%;
    margin: auto;
  }
}

@media all and (max-width: 767px) {
  .container,
  .container-fluid {
    width: 100%;
    padding-bottom: 50px;
  }

  .container {
    padding: unset;
  }

  hr {
    margin: 20px auto;
    width: 90%;
  }

  h2 {
    font-size: 30px !important;
    line-height: 35px;
  }

  h3 {
    font-size: 25px !important;
    line-height: 30px;
  }

  .content > pre.tc-mobile-sidebar {
    display: block;
    width: 80%;
    margin: 40px auto;
    text-align: center;
  }

  .content {
    word-break: break-word;
  }

  ul > li > ul {
    list-style: none;
    padding-left: 0;
    margin-left: -21px;
  }

  pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
  }

  .content p {
    font-size: 18px;
  }

  .content > p.tc-mobile-sidebar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.6rem;
    background: #cc7510;
    bottom: 100%;
    left: 0;
    margin: 0px 0px 5px;
  }

  .content > p.tc-mobile-sidebar {
    font-family: "Catamaran", sans-serif;
    background-color: #f4f2ed;
    position: relative;
    padding: 20px;
    display: flex;
  }

  ul {
    padding-inline-start: 0;
    font-size: 18px;
  }

  .tc-notes > img {
    width: 100% !important;
    margin-bottom: 10px;
  }

  .content > p.tc-questions > img {
    width: 100% !important;
    margin-bottom: 10px;
  }

  .team-details > .bio > p {
    font-size: 18px;
  }

  .content blockquote p {
    font-size: 34px;
  }

  .back-to-top {
    position: fixed;
    right: 5px;
    bottom: 60px;
  }

  .ui.pagination.menu {
    width: 100%;
    display: flex !important;
    justify-content: center !important;
  }

  .centreWatch {
    width: 90%;
    margin: auto;
  }

  .centreWatch > .ui.grid {
    flex-direction: column;
  }

  .centreWatch > .ui.grid > [class*="five wide"].column {
    width: 100% !important;
  }

  .centreWatch > .ui.grid > [class*="eleven wide"].column {
    width: 100% !important;
  }

  .centreWatch .ui.vertical.right.tabular.menu .item {
    padding: 10px 0 !important;
  }

  .centreWatch .ui.vertical.right.tabular.menu .item:first-child,
  .centreWatch .ui.vertical.right.tabular.menu .active.item:first-child {
    padding: 10px 0 !important;
  }
}
.in-news-date {
  font-family: "Catamaran", sans-serif;
  font-size: 16px;
  border-bottom: 2px solid #cc7510;
  padding-bottom: 3px;
  font-weight: 600;
}
.in-news-link {
  margin-top: 15px;
}
